@import "../../asserts/scss/style";

.bdSub {
  font-size: 1.5rem;
  line-height: 1.1;
  margin-bottom: 1rem;
  font-weight: 300;
  max-width: 80%;
}

.pasteWrapper {
  button {
    width: 50%;
  }
}

:global(.modal) {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.finishedModal {
  width: 500px !important;
  margin-bottom: 250px !important;
}
