h1.mainTitle {
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.editor {
  border: 1px solid #ced4da;
  border-radius: .25rem;
  overflow: hidden;
}

.pasteWrapper {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-bottom: 1rem;
}
