.footer {
  display: flex;
  color: #ccc;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  font-size: 13px;
  font-weight: 200;
  a {
    color: #cccccc;
    text-decoration: none;
  }
}
